@model SistemaGestionCotizaciones.Models.DetalleMantenedor
@using System.Data;

<link href="~/Content/css/paginacion.css" rel="stylesheet" />
<link href="~/Content/css/mantenedorDetalle.css" rel="stylesheet" />
<script src="~/Scripts/js/soloNumeroComa.js"></script>
@if (Model.dtFormulas.Rows.Count > 0)
{


    <script>
        ///scrip botones aciones
        var URLjs = '@Html.Raw(Url.Action("jsonListafunciones", "Mantenedor"))';
        var Json = [];
    $(document).ready(function () {

        var msg = new String();
        $('.btnGuardar').hide();
        $('.btnCancelar').hide();
       // $('.btnEliminar').hide();
       // $("input").addClass("TextBoxAsLabel").attr("readonly", true);
        var bkpString = new String("");// string para guardar los datos recividos antes de editar
        $('.btnEditar').click(function () { //al presionar el boton editar
            $('.btnEditar').prop("disabled", true);
            $('.btnEliminar').prop("disabled", true);
            var idFila = $(this).attr("id");
            //alert(idFila);
            $.ajax({
                dataType: "json",
                url: URLjs,
                async: false,
            }).done(function (varJson) {
                //mi codigo
                // console.log(JSON.stringify(varJson));
                Json = varJson;
           
            });
            $("#fila_" + idFila + ".tr").addClass("warning");
            $("#fila_" + idFila + " .btnEditar").hide();    //oculta btn edit
            $("#fila_" + idFila + " .btnEliminar").hide();   //oculta btn eliminar
            $("#fila_" + idFila + " .btnGuardar").show().css("background", "transparent");    //muestra boton guadar
            $("#fila_" + idFila + " .btnCancelar").show().css("background", "transparent");   //muestra boton cancelar
            $("#fila_" + idFila + " select").removeClass("selectToLabel").attr("disabled", false);// activa el comboBox de la fila que se quiere editar
            $("#fila_" + idFila + " input").removeClass("TextBoxAsLabel").attr("readonly", false); //quita la clase y el atributo readonly
            $("#fila_" + idFila + " .combobox").attr("readonly", false); //quita la clase y el atributo readonly
            //alert($("#nombre_" + idFila).val());
            $('#estado_' + idFila).prop('disabled',false);
            var check;
            if ($('#estado_' + idFila).prop('checked')) {
                check = 1;
            }
            else { check = 0;}
            bkpString="";
            bkpString = $("#nombre_" + idFila).val() + ';' + $('#descripcion_' + idFila).val() + ';' + $('#funcion_' + idFila).val() + ';'
                + $('#variable_' + idFila).val()+';'+check;
           
            //alert("sorpresa #0= "+bkpString);
            //alert($("#Aplicacioninmediata_" + idFila).val());
            //alert($("#Dominio_" + idFila).val().toString() + " ; " + $("#Dominio_" + idFila).val());
            //alert($("#Aplicacioninmediata_" + idFila).val());
        });

        $('.btnCancelar').click(function () {
            $('.btnEditar').show();
            $('.btnEliminar').show();
            var idFila = $(this).attr("id");
            var elemento = bkpString.split(";"); // separa los datos
            //alert(bkpString);
            $("#nombre_" + idFila).val(elemento[0]);
            $('#descripcion_' + idFila).val(elemento[1]);
            $('#funcion_' + idFila).val(elemento[2]);
            $('#variable_' + idFila).val(elemento[3]);
           // alert(elemento[4]);
            if(elemento[4] == 1){
                $('#estado_' + idFila).prop('checked',true).prop("disabled", true);
            }
            else { $('#estado_' + idFila).prop('checked', false).prop("disabled", true); }
            //restaura los valores previos
            //restaura los valores previos
            $("#fila_" + idFila + " select").addClass("selectToLabel").attr("disabled", true);// deshabilita el comboBox de la fila editada
            $("#fila_" + idFila + " input").addClass("TextBoxAsLabel").attr("readonly", true); //agrega la clase y el atributo readonly
            $("#Aplicacioninmediata_" + idFila).prop("disabled", true); //deja todos los checkbox desactivados
            $("#fila_" + idFila + " .btnGuardar").hide(); //oculta boton guadar
            $("#fila_" + idFila + " .btnCancelar").hide();//oculta boton cancelar
            $("#fila_" + idFila + " .btnEditar").show();  //muestra btn edit
            //$("#fila_" + idFila + " .btnEliminar").show();//muesta btn eliminar
            if ($('.tr').children().hasClass('has-error')) {
                $('.tr .control-label').remove();
                $('.tr label .has-error').removeClass('has-error');
            }
            $('.btnEditar').prop("disabled", false);
            $('.btnEliminar').prop("disabled", false);
            $("#fila_" + idFila + ".tr").removeClass("warning");
            bkpString = "";
        });

        $('.btnGuardar').click(function () {
            var idFila = $(this).attr("id");
            //   alert(idFila);
            var datos = new String("");
            var existe = false;
            var id;
            //console.log(' alo'+JSON.stringify(Json));
          //  console.log( '  ' + $("#nombre_" + idFila).val().toLowerCase());
            _.each(Json, function (i) {
                
                var nombre = i.Nombreformula;
               // console.log(nombre.toLowerCase() + '  ' + $("#nombre_" + idFila).val().toLowerCase()); 
                if (nombre.toLowerCase() == $("#nombre_" + idFila).val().toLowerCase()) {
                    existe = true;
                    id= i.Idformula;
                }
            });
            if (existe && id != idFila) {
                alert('El nombre que intenta ingresar, no esta disponible, intente con otro nombre.');
                return;
            }
            // alert("servicio" + $("#servicio_" + idFila).toString().trim().length );
            if ($("#nombre_" + idFila).toString().trim().length > 0 &&$('#descripcion_' + idFila).toString().trim().length > 0 
                && $('#variable_' + idFila).toString().trim().length > 0 && $('#funcion_' + idFila).val() != 0 &&!$('.tr').children().hasClass('has-error')) {
               // alert("if");
                //se guardan los cambios en un string

                var check;
                if ($('#estado_' + idFila).prop('checked')) {
                    check = 1; //alert();
                }
                else { check = 0; }
                datos="";
                datos = $("#nombre_" + idFila).val() + ';' + $('#descripcion_' + idFila).val() + ';' + $('#funcion_' + idFila).val() + ';'
                + $('#variable_' + idFila).val() + ';' + check;
                // lo envio por post a el controlador :O
                var URL = '@Html.Raw(Url.Action("actualizarFormula", "Mantenedor", new { id = "idR", cadena = "cadenaR" }))';
                //alert("if3");
                URL = URL.replace('idR', idFila);
                URL = URL.replace('cadenaR', datos);
                // alert(datos);
                // alert(URL);
                //msg = 'Se actualizara el nombre del país '+ bkpString +' ,¿Desea continuar?';
                //var titulo = 'Advertencia';
                //var iconClass = 'glyphicon glyphicon-exclamation-sign';
                //alert(msg);
                //dialogConfirmar('dialog', titulo, msg, iconClass, URL);
                $.ajax({
                    type: "POST",
                    url: URL,
                    async:false
                }).done(function (resp) {
                    resultado = resp;
                });
                $("select").addClass('selectToLabel').attr("disabled", true);//deja todos los comboBox desactivados
                $("#fila_" + idFila + " input").addClass("TextBoxAsLabel").attr("readonly", true); //agrega la clase y el atributo readonly
                $("input.checkbox").prop("disabled", true); //deja todos los checkbox desactivados
                $("#fila_" + idFila + " .btnGuardar").hide();    //oculta boton guadar
                $("#fila_" + idFila + " .btnCancelar").hide();   //oculta boton cancelar
                $("#fila_" + idFila + " .btnEditar").show();     //muestra btn edit
                $("#fila_" + idFila + " .btnEliminar").show();   //muesta btn eliminar
                $("#fila_" + idFila + ".tr").removeClass("warning");
                $('.btnEditar').show().prop("disabled", false);
                $('.btnEliminar').show().prop("disabled", false);
                $('.btnEditar').show();
                $('.btnGuardar').hide();
                $('.btnCancelar').hide();
                location.reload();
            }
            else {
               // alert('else');
                if ($('.tr').children().hasClass('has-error')) {
                    $('.tr').children('.has-error').children().focus();
                }
                if ($("#nombre_" + idFila).toString().trim().length== 0) {
                    alert('Debe ingresar un nombre.');
                    $("#nombre_" + idFila).focus();
                }
                if($('#descripcion_' + idFila).toString().trim().length == 0)        {
                    alert('Debe ingresar una descripción.');
                }
                
                if($('#funcion_' + idFila).val() == 0) {
                    alert('Debe seleccionar una función.');
                }
                if($('#variable_' + idFila).toString().trim().length == 0)       {
                    alert('Debe ingresar el numero de variables.');
                }
                               
            }
           
            datos = "";
            bkpString = "";
        });

        $('.btnEliminar').click(function () {
            var idFila = $(this).attr("id");
            datos="";
            var check = 0;
            datos = $("#nombre_" + idFila).val() + ';' + $('#descripcion_' + idFila).val() + ';' + $('#funcion_' + idFila).val() + ';'
            + $('#variable_' + idFila).val() + ';' + check;
          
            var URL = '@Url.Action("actualizarFormula", "Mantenedor", new { id = "idR", cadena = "cadenaR" })';
            //alert("if3");
            URL = URL.replace('idR', idFila)
                     .replace('cadenaR', datos);
            // alert(datos);
            // alert(URL);
            //msg = 'Se actualizara el nombre del país '+ bkpString +' ,¿Desea continuar?';
            //var titulo = 'Advertencia';
            //var iconClass = 'glyphicon glyphicon-exclamation-sign';
            //alert(msg);
            //dialogConfirmar('dialog', titulo, msg, iconClass, URL);
            $.ajax({
                type: "POST",
                url: URL,
                async:false
            }).done(function (resp) {
                resultado = resp;
            });
            location.reload();

        });
        ////paginacion
        var tPagina;
        tPagina = @Model.dtFormulas.Rows[0][6] ;

        var pagActual =0;

        function cargarPagina(id) {
            var url = '@Url.Action("vpGrillaDetalleFormula", "Mantenedor", new { id = "param-id", ordenarPor = "param-name" })'
            url = url.replace("param-id", id)
                     .replace("param-name", "idpais");
            $('#tb_Header').load(url);
        }
        $('.solo-numero').keypress(function (e) {
            if (!(e.which == '8' || e.which == '48' || e.which == '49' || e.which == '50' || e.which == '51' || e.which == '52' ||
                 e.which == '53' || e.which == '54' || e.which == '55' || e.which == '56' || e.which == '57')) {
                return false;
            }
        });

        $('#txt_pag').keypress(function (e) {
            var key = e.which;
            if (key == 13) {
                var valor = parseInt($(this).val() - 1);
                //alert(valor + ' ' + parseInt($('#ttl_pag').text()));
                if (valor >= 0 && valor <= parseInt($('#ttl_pag').text() - 1)) {
                    cargarPagina(valor);
                }
            }
        });
        $('#txt_pag').focus(function () {
            pagActual = $.trim($(this).val());
            $(this).val($.trim($(this).val()));
        });
        $('#txt_pag').focusout(function () {
            $(this).val(pagActual);

        });
        $('#txt_pag').keypress(function (e) {
            var key = e.which;
            if (key == 13) {
                var valor = parseInt($(this).val() - 1);
                //alert(valor + ' ' + parseInt($('#ttl_pag').text()));
                if (valor >= 0 && valor <= parseInt(tPagina - 1)) {
                    cargarPagina(valor);
                }
            }
        });
        //////validacion
        $('#btn_pag_sig').click(function () {
            pagina = parseInt($('#txt_pag').val());
            if (pagina < parseInt(tPagina)) {
                pagina--;
                cargarPagina(pagina + 1);
            }
        });
        $('#btn_ult_pag').click(function () {
            cargarPagina(tPagina - 1);
        });

        $('#btn_pri_pag').click(function () {

            cargarPagina("0");
        });
        $('#btn_pag_ant').click(function () {

            if (parseInt(($('#txt_pag').val())) == 1) {

            } else {

                if (parseInt($('#txt_pag').val()) > parseInt(tPagina)) {
                    pagina = parseInt(tPagina);

                } else {
                    pagina = (parseInt($('#txt_pag').val()));
                    pagina -= 2;
                }
                cargarPagina(pagina);

            }
        });
        $('#btn_nvo_cElmt').click(function () {
            //cambia el titulo <h4> de clase modal_title segun la vista parcial a mostrar
            $('h4.modal-title').text('Nueva Fórmula');
            $('.modal')
                .prop('class', 'modal fade')
                .addClass('right')
                .modal({
                    backdrop: 'static',
                    keyboard: false
                });
            $('.modal').modal('show');
            $(':input, a').attr('tabindex', '-1');
            $('#nvo_header').load('vpAgregarFormula');
        });


    });
    </script>


    <div class="container">
        <div class="row">
            <table id="tblListarHeader" class="table table-responsive table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Formula</th>
                        <th>Descripción</th>
                        <th>Función</th>
                        <th>Variables</th>
                        <th>Estado</th>
                        <th class="col-md-1">Acción</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (DataRow col in Model.dtFormulas.Rows)
                    {
                        <tr id="fila_@col.ItemArray.GetValue(0)" class="tr">
                            <td><label id="id_@col.ItemArray.GetValue(0)" class="TextBoxAsLabel">@col.ItemArray.GetValue(0)</label></td>
                            <td><input id="nombre_@col.ItemArray.GetValue(0)" value="@col.ItemArray.GetValue(1)" class="TextBoxAsLabel es-texto caracter-250" readonly /></td>
                            <td><input id="descripcion_@col.ItemArray.GetValue(0)" value="@col.ItemArray.GetValue(2)" class="TextBoxAsLabel es-texto caracter-250" readonly /></td>
                            <td>@if (col.ItemArray.GetValue(0).ToString().AsInt() > 2)
                            {
                                <select id="funcion_@col.ItemArray.GetValue(0)" disabled="disabled" class="selectmenu selectToLabel combobox">
                                    <option value="0">Seleccione una función</option>
                                    @if (Model.dtFunciones != null) 
                                    {


                                        foreach (DataRow colCb in Model.dtFunciones.Rows)
                                        {
                                            if (col.ItemArray.GetValue(3).ToString() == colCb.ItemArray.GetValue(0).ToString())
                                            {
                                                <option selected value="@colCb.ItemArray.GetValue(0)">@colCb.ItemArray.GetValue(1)</option>
                                            }
                                            else
                                            {
                                                <option value="@colCb.ItemArray.GetValue(0)">@colCb.ItemArray.GetValue(1)</option>
                                            }
                                        }
                                    }
                                </select>
                            }
                               
                            </td>
                            <td><input id="variable_@col.ItemArray.GetValue(0)" value="@col.ItemArray.GetValue(4)" pattern="\d*" size="9" maxlength="9" class="TextBoxAsLabel  solo-numero-coma" title="Debe contener como minimo minimo un díjito  y maximo nueve dígitos" readonly /></td>
                            <td><input id="estado_@col.ItemArray.GetValue(0)"  type="checkbox" @if(col.ItemArray.GetValue(5).ToString() == "True"){ string a = "checked"; @a }  class="TextBoxAsLabel es-texto" disabled /></td>
                             <td>
                                 @if (col.ItemArray.GetValue(0).ToString().AsInt() > 2 && !User.IsInRole("OBSERVADOR"))
                             {
                                <div class="btn-group btn-group-xs" role="group" style="display:inline-block">
                                    <button id="@col.ItemArray.GetValue(0)" type="button" class="btnGuardar" title="Guardar" hidden style="border:none"><span class="glyphicon glyphicon-ok"></span></button>
                                    <button id="@col.ItemArray.GetValue(0)" type="button" class="btnCancelar" title="Cancelar" hidden style="border:none"><span class="glyphicon glyphicon-remove"></span></button>
                                    <button id="@col.ItemArray.GetValue(0)" type="button" class="btnEditar" title="Editar" style="border:none"><span class="glyphicon glyphicon-pencil"></span></button>
                                    <button id="@col.ItemArray.GetValue(0)" type="button" class="btnEliminar" title="Eliminar" style="border:none"><span class="glyphicon glyphicon-trash"></span></button>
                                </div>
                             }
                             </td>
                           
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <div class="row pagination col-md-12 col-sm-12   " style="background-color:#F9F9F9;height:28px;">
        <div class=" form-inline " role="form">
            <div class="col-md-2 col-sm-2 col-md-offset-1 ">
                <p class="control-label">Total de Registros @Model.dtFormulas.Rows[0][7]</p>
            </div>
            <div class="col-md-2 col-sm-3 col-md-offset-2 form-inline">
                <p class="control-label ">
                    Ir a
                    <input id="txt_pag" type="text" class="form-control solo-numero input-xs" style="width:13%" value="@(int.Parse(Model.dtFormulas.Rows[0][8].ToString()) + 1) " />
                    de @Model.dtFormulas.Rows[0][6] Pág.
                </p>
            </div>
            <!-- /.btn-toolbar -->
            <div class="col-md-offset-9 col-sm-offset-9">
                <div id="btn_Func_Tools" class="" role="toolbar">
                    @if (!User.IsInRole("OBSERVADOR"))
                    {
                    <div class="btn-group btn-group-sm" role="group">
                        <button id="btn_nvo_cElmt" type="button" class="btn btn-default" title="Nueva Fórmula" style="border:none;background-color:transparent;"><span class="glyphicon glyphicon-plus"></span></button>
                    </div>
                    }
                    <div class="btn-group btn-group-sm" role="group">
                        <button id="btn_pri_pag" type="button" class="btn btn-default" title="Primera Página" style="border:none;background-color:#F9F9F9;"><span class="glyphicon glyphicon-step-backward"></span></button>
                        <button id="btn_pag_ant" type="button" class="btn btn-default" title="Página Anterior" style="border:none;background-color:#F9F9F9;"><span class="glyphicon glyphicon-triangle-left"></span></button>
                        <button id="btn_pag_sig" type="button" class="btn btn-default" title="Página Siguiente" style="border:none;background-color:#F9F9F9;"><span class="glyphicon glyphicon-triangle-right"></span></button>
                        <button id="btn_ult_pag" type="button" class="btn btn-default" title="Última Página" style="border:none;background-color:#F9F9F9;"><span class="glyphicon glyphicon-step-forward"></span></button>
                    </div>
                </div>
        </div>
        <!-- /.btn-toolbar -->
    </div>
        </div>
    <div id="dialog" title="¿Desea continuar?">

    </div>
}
else
{

    <div class="container">
        <div class="row">
            <div class="alert alert-warning" role="alert">
                <strong>Alerta!</strong> No hay Formulas creadas <a id="btn_nuevo" href="#" data-toggle="modal" data-target="" class="alert-link"> Crear una Formulas</a>.
            </div>
        </div>
    </div>
    <script>
        $('#btn_nuevo').click(function () {
            //cambia el titulo <h4> de clase modal_title segun la vista parcial a mostrar
            $('h4.modal-title').text('Nueva Fórmula');
            $('.modal')
                .prop('class', 'modal fade')
                .addClass('right')
                .modal({
                    backdrop: 'static',
                    keyboard: false
                });
            $('.modal').modal('show');
            $(':input, a').attr('tabindex', '-1');
            $('#nvo_header').load('vpAgregarFormula');
        });

        error('@ViewBag.Error');
    </script>
}



