@{
    ViewBag.Title = "rolpermisos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using SistemaGestionCotizaciones.Models;
@model SistemaGestionCotizaciones.Models.RolPermisosEditViewModel

<div>
    <h4>Rol</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(m => Model.Rol.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(m => Model.Rol.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(m => Model.Rol.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(m => Model.Rol.Descripcion)
        </dd>
    </dl>
    <hr />


    <h4>Permisos</h4>
    <hr />
    <p>
        @Html.ActionLink("Create New Permiso", "CreatePermiso")
    </p>
    <table class="table">
        <tr>
            <th>Aplicacion</th>
            <th>Accion(Leer/Escribir/Borrar)</th>
            <th>Accion(Aprobar/Rechazar)</th>
            <th></th>
        </tr>

        @foreach (var item in Model.Permisos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Nombreaplicacion)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Nombrecaccion)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Nombrecaccion2)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>

</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

